
.card{
    border-radius: 10px !important;
}

.ceo img{
width:  150px;
height: 150px;
border-radius: 50%;
margin-left: 130px;
margin-top:15px;
margin-bottom:15px;

}

.card-body {
    background: #141414;
    color: #ffffff;
    border-radius: 5px;
    padding: 15px;
}
.ammount{
    color: rgb(243, 207, 0);
}

.card.h-100.ceo.p-1 {
    background: #d3c7ff;
}

button.btn.btn-primary.me-3 {
    background: #653ef5;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
}

